<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar PI</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <h2>Editar Ponto de Interesse</h2>
    <form action="/api/update/<%= pi.id %>" method="post">
        <input type="text" value="<%= pi.name %>" name="name">
        <input type="text" value="<%= pi.details %>" name="details">
        <input type="text" value="<%= pi.status %>" name="status">
        <input type="text" value="<%= pi.geometry.coordinates[0] %>" name="geometry.coordinates[0]">
        <input type="text" value="<%= pi.geometry.coordinates[1] %>" name="geometry.coordinates[1]">
        <br>
        <button><a href="/api/listall">Listar</a></button>
        <button type="submit">Editar</button>
    </form>
</body>
</html>