<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pontos de Interesse</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <h2>Lista de Pontos de Interesse</h2>


    <button><a href="/">Voltar</a></button>
    <button><a onclick="onNearClk('/api/details/')" href=#>Aproximar</a></button>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Detalhes</td>
                <td>Status</td>
                <td>lng</td>
                <td>lat</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <% pis.forEach(function(data){ %> 
                <tr>
                    <td><%= data.name %></td>
                    <td><%= data.details %></td>
                    <td><%= data.status %></td>
                    <td><%= data.geometry.coordinates[0] %></td>
                    <td><%= data.geometry.coordinates[1] %></td>
                    <td>
                        <a href="/api/edit/<%= data._id %>">Editar</a> |
                        <a onclick="confirmation('Delete records?!', '/api/delete/<%= data._id %>') " href="#">Deletar</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        function deleteDoc(msg, url) {
            if (confirm(msg)) {
                window.location.href = url
            } else {
                false
            }
        }

        // Obter latitude e longitude para query-string da rota:"/api/details/?lng=lng&lat=lat"
        function onNearClk(url) {
            // 'getElementById('map')'->referencia elemento onde vai
            // renderizar a mensagem
            var output = document.getElementById('map')

            // Verificar se o navegador suporta geolocalização
            if (!navigator.geolocation) {
                output.innerHTML = "<p>Seu navegador atual não suporta geolocalização</p>"
            } else {
                // patamentro para getCurrentPosition()
                function local(position) {
                    const lat = position.coords.latitude
                    const lng = position.coords.longitude
                    location.href = url+'?lng='+lng+'&'+'lat='+lat
                }
                // patamentro para getCurrentPosition()
                function error() {
                    output.innerHTML = "<p>Não foi possível encontrar sua localização</p>"
                }
                // chamada á API-HTML_Geolocation que devolve a posição do
                // dispositivo
                navigator.geolocation.getCurrentPosition(local, error)
            }
        }
    </script>
</body>
</html>